* {
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul, li, a {
    text-decoration: none;
    list-style-type: none;
    padding-inline-start: 0;
}

iframe {
    display: block;
    margin: 16px auto;
}

.ml250 {
    margin-left: 250px;
}

.white-text {
    color: #fff;
    line-height: 1.5;
    padding: 0 32px;
    text-align: justify;
}

body {
    background: url(../img/bg.svg);
}

#header {
    position: fixed;
    top: 0; left: 0;
    width: 250px;
    height: 100vh;
    padding: 30px 0;
    text-align: center;
}

.header-img {
    width: 150px;
}

.nav-list:first-child {
    margin-top: 32px;
}

.nav-list {
    padding: 10px 0;
}

.nav-list:hover .nav-item {
    color: #F20372;
}

.nav-item {
    color: #fff;
    font-size: 16px;
}

#header .contact-btn {
    background-image: url(../img/button-border.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 18px 42px;
    margin-top: 42px;
    color: #fff;
}

.menu-btn {
    position: fixed;
    top: 0; right: 0;
    padding: 32px;
    margin: 16px;
    background: url(../img/menu-btn.png) center / cover no-repeat;
    display: none;
}

.fixed-right {
    position: fixed;
    right: 20px;
    bottom: 150px;
    text-align: center;
}

.fixed-right .social-net {
    margin: 10px 0;
    width: 32px;
}

#slider {
    padding-top: 55%;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#about {
    display: flex;
    margin-top: 20%;
}

#about .about-col-1 {
    flex: 5;    
}

.about-col-1 .intro-head {
    margin-top: -20px;
    font-size: 2em;
    margin-bottom: 16px;
    color: #001E6C;
    background: url(../img/border-heading.jpg) top center / cover no-repeat;
    display: inline-block;
    padding: 26px 8px;
}

.about-col-1 .intro-1 {
    padding-top: 80%;
    background:url(../img/about/intro1.jpg) top center / cover no-repeat;
}

.about-col-1 .about-text {
    margin-right: 20%;
}

#about .about-col-2 {
    flex: 5;  
}

.about-col-2 .intro-2 {
    padding-top: 95%;
    background:url(../img/about/intro2.jpg) top center / cover no-repeat;
    margin-left: -20%;
    margin-right: 32px;
    margin-top: 20%;
}

.menu-2-col {
    display: flex;
    margin-top: 20%;
}

.menu-desc-hd {
    margin-top: 10%;
    font-size: 2em;
    margin-bottom: 16px;
    color: #001E6C;
    background: url(../img/border-heading.jpg) top center / cover no-repeat;
    display: inline-block;
    padding: 26px 8px;
}

.menu-desc .menu-desc-link {
    background: url(../img/button-border.svg) top center / cover no-repeat;
    color: #fff;
    display: inline-block;
    margin-top: 5%;
    margin-left: 40%;
    margin-right: 32px;
    padding: 20px;
}



.menu-3-col {
    display: flex;
    text-align: center;
    font-weight: 800;
}

.item-1-2 {
    flex: 3;
    padding: 16px;
}

.item-1 {
    padding-top: 100%;
    background:url(../img/menu/phoi.jpg) center / cover no-repeat;
}

.item-2 {
    padding-top: 100%;
    margin-top: 32px;
    background:url(../img/menu/phoi.jpg) center / cover no-repeat;
}

.item-3-4 {
    flex: 3;
    padding: 16px;
}

.item-3 {
    padding-top: 100%;
    background:url(../img/menu/phoi.jpg) center / cover no-repeat;
}

.item-4 {
    padding-top: 100%;
    margin-top: 32px;
    background:url(../img/menu/phoi.jpg) center / cover no-repeat;
}

.item-5 {
    flex: 3;
    margin-top: 10%;
    padding: 16px;
    padding-top: 50%;
    background:url(../img/menu/phoi.jpg) center / cover no-repeat;
}

.client .menu-desc-hd {
    padding: 24px 24px;
}

.client-1 {
    flex: 3;
    padding-top: 30%;
    background: url(../img/client/pepsi.png) center / contain no-repeat;
}

.client-2 {
    flex: 3;
    padding-top: 30%;
    background: url(../img/client/masan.png) center / contain no-repeat;
}

.client-3 {
    flex: 3;
    padding-top: 30%;
    background: url(../img/client/logo-An-Long-1.webp) center / contain no-repeat;
}

.client-4 {
    flex: 3;
    padding-top: 30%;
    background: url(../img/client/tuong-an-logo.png) center / contain no-repeat;
}

.client-5 {
    flex: 3;
    padding-top: 30%;
    background: url(../img/client/usp.png) center / contain no-repeat;
}

.client-6 {
    flex: 3;
    padding-top: 30%;
    background: url(../img/client/miko.png) center / contain no-repeat;
}


#hiring .menu-desc-hd {
    padding: 33px 8px;
}


.labor-list {
    padding-top: 10%;
    background:url(../img/hiring/tuyendung-cover.jpg) bottom center / cover no-repeat;
}

.labor-item {
    color: #fff;
    font-size: 22px;
    line-height: 2;
    text-shadow: 0 0 10px rgba(0, 0, 0, .8);
}

.labor-list li:hover {
    cursor: pointer;
    color: #000;
    background-color: #ccc;
    width: initial;
}

.labor-modal {
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
    font-size: 16px;
    padding: 32px;
    margin: 0 auto;
    z-index: 2;
    align-items: center;
    justify-content: center;
}

.labor-modal.open{
    display: flex;
    animation: goUp ease .5s;
}

.labor-hd {
    color: #d244b2;
    background-color: #001E6C;
    font-size: 36px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 0; right: 0;
    padding: 8px;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.modal-close:hover {
    color: #333;
    background-color: #ccc;
}

.labor-desc {
    background-color: #333;
    line-height: 1.6;
    padding: 16px;
}

.contact-ft {
    display: flex;
    margin-top: 20%;
}

.google-map {
    flex: 1;
    text-align: center;
}

.bvc-info {
    flex: 1;   
}

.bvc-info .menu-desc-hd {
    padding: 12px 20px;
    margin-top: 0;
}

.info-hd {
    color: #F2C57E;
    font-size: 24px;
    padding: 12px;
    text-align: center;
}

.bvc-host {
    padding-top: 40%;
    background:url(../img/logo.png) center / cover no-repeat;
    margin: 0 30%;
}

.bvc-smoke {
    padding-top: 50%;
    background:url(../img/contact/footer-artwork-2.png) top center / cover no-repeat;
    margin-top: -10%;
    margin-left: -15%;
}


@keyframes goUp {
    from {
        transform: translateY(400px);
        opacity: .2;
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}


